<nav class="theme-nav">
  <a href="https://publiccode.net/" title="公共程式基金會首頁" class="logo-mark">
    <img src="https://brand.publiccode.net/logo/mark.svg" alt="公共程式基金會的標誌看起來像是小間的希臘神廟或是六邊形的政府大樓">
    <p>公共程式基金會</p>
  </a>
</nav>
