<nav class="theme-nav">
  <a href="https://publiccode.net/" title="Foundation for Public Code 首頁" class="logo-mark">
    <img src="https://brand.publiccode.net/logo/mark.svg" alt="Foundation for Public Code 的標誌，看起來像是小間的希臘神廟，或是六角形的政府大樓">
    <p>公共程式基金會</p>
  </a>
</nav>
