{% if site.hide_foundation_footer != true %}
<footer id="foundation-footer">

  <div class="footer-trio">
    <section>
      <div class="footer-section-content">
        <h2>關於我們</h2>
        <p>本基金會人員資訊、決策規則與流程。本基金會的員工手冊，是與社群協作共同編寫，任何人都可再利用。</p>
        <p>深入瞭解我們的活動、組織、術語詞彙表與觀念等。</p>
      </div>
      <div class="footer-links">
        <a href="https://about.publiccode.net">我們的運作方式</a>
      </div>
    </section>
    <section>
      <div class="footer-section-content">
        <h2>專案資源</h2>
        <p>為了推動本基金會使命而研究或開發的開放成品。我們每天的工作都依靠這些資源。您也可以喔！</p>
      </div>
      <div class="footer-links">
        <a href="https://projects.publiccode.net">請自由使用與修改</a>
        <a href="https://github.com/publiccodenet">到 Github 查看我們的成品</a>
      </div>
    </section>
    <section>
      <div class="footer-section-content">
        <h2>徵才</h2>
        <p>呼叫熱心公益的開源人才！瞭解與我們共事的樣貌，並且成為我們的一員。</p>
      </div>
      <div class="footer-links">
        <a href="https://publiccode.net/careers/">職缺</a>
      </div>
    </section>
  </div>

  <div class="footer-duo">
    <section class="footer-contact">
      <h2>聯絡方式</h2>
      <dl>
          <dt>電子報：</dt>
          <dd><a href="https://odoo.publiccode.net/survey/start/594b9243-c7e5-4bc1-8714-35137c971842">加入我們的郵遞論壇清單</a></dd>

          <dt>電話號碼：</dt>
          <dd><a href="tel:+31202444500">+31 20 2 444 500</a></dd>

          <dt>電子信箱：</dt>
          <dd><a href="mailto:info@publiccode.net">info@publiccode.net</a></dd>

          <dt>地址：</dt>
          <dd><address>Keizersgracht 617, 1017 DS, Amsterdam, the Netherlands</address>
          <a href="https://www.openstreetmap.org/node/2736377676" title="OpenStreetMap">OpenStreetMap</a> | <a href="https://www.google.com/maps/place/Keizersgracht+617,+1017+DS+Amsterdam,+Netherlands" title="Google 地圖">Google</a>
          </dd>
      </dl>
    </section>

    <section class="footer-notes">
      <h2>機構資訊</h2>
      <p>Foundation for Public Code vereniging (met volledige rechtsbevoegdheid) <a href="https://about.publiccode.net/organization/governance-model.html" title="治理模型">is a member owned association</a> registered under <a href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=74996452" title="荷蘭商會註冊">chamber of commerce (KvK) registration 74996452</a> and with identification number (RSIN) 860102294.</p>
      <p>We're recognized as a <a href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontenten/belastingdienst/business/business-public-benefit-organisations/public_benefit_organisations/what_is_pbo/what_is_a_pbo" title="公益組織 (ANBI)">公益組織 (ANBI)</a> by the Dutch Tax and Customs Administration. See <a href="https://about.publiccode.net/organization/" title="our ANBI information">our ANBI information</a>. </p>
      <div class="footer-note-cluster"></div>
        <p class="footer-last-updated">上次更新時間： {{ site.time | date_to_long_string }}</p>
        <p class="footer-copyright">{{ 'now' | date: "%Y" }} <a href="https://publiccode.net">Foundation for Public Code</a></p>
        <p class="footer-license">All content licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/" title="創用 CC0 1.0 通用授權" rel="license">創用 CC0 1.0 通用授權</a>, unless otherwise noted</p>
        </div>
    </section>
  </div>

</footer>
{% endif %}
